.about-author
  .image-thumb.fl
    = image_tag "http://1.bp.blogspot.com/-glMrRtj-REM/VW4nyexYvOI/AAAAAAAAFiM/j-4Gem5fuvI/s1600/me.jpg"
  .author-info
    .author-name
      %h4.text-uppercase Rina Chaudhary
    .author-content
      %p Phasellus facilisis convallis metus, ut imperdiet augue auctor nec. Duis at velit id augue lobortis porta. Sed varius, enim accumsan aliquam tincidunt, tortor urna vulputate quam, eget finibus urna est in augue.
    .author-social
      = link_to "#" do
        %i.fa.fa-facebook
      = link_to "#" do
        %i.fa.fa-twitter
      = link_to "#" do
        %i.fa.fa-dribbble
      = link_to "#" do
        %i.fa.fa-google-plus
