.post-share
  %span.share-toggle.pi-btn
    %i.fa.fa-share-alt
  .share
    = link_to "http://www.facebook.com/sharer.php?u=", target: "_blank" do
      %i.fa.fa-facebook
    = link_to "http://twitter.com/share?url=", target: "_blank" do
      %i.fa.fa-twitter
    = link_to "http://www.tumblr.com/share/link?url=", target: "_blank" do
      %i.fa.fa-tumblr
    = link_to "https://plus.google.com/share?url=", target: "_blank" do
      %i.fa.fa-google-plus
    = link_to "http://pinterest.com/pin/create/button/?source_url=", onclick: "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target: "_blank" do
      %i.fa.fa-pinterest