%div.widget.PopularPosts
  %h2 Популярні записи
  .widget-content.popular-posts
    %ul
      %li
        .item-thumbnail-only
          .item-thumbnail
            = link_to "", target: "_blank" do
              = image_tag "popular1.jpg", alt: ""
          .item-title
            = link_to 'Papilion Minter Savior','#'
        %div.clear
      %li
        .item-thumbnail-only
          .item-thumbnail
            = link_to "", target: "_blank" do
              = image_tag "popular2.jpg", alt: ""
          .item-title
            = link_to 'Draught Vaein Mynel','#'
        %div.clear
      %li
        .item-thumbnail-only
          .item-thumbnail
            = link_to "", target: "_blank" do
              = image_tag "popular3.jpg", alt: ""
          .item-title
            = link_to 'Simple Vimeo Post','#'
        %div.clear
